<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js'></script>
<script src='/javascripts/backbone-app.js'></script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id='character-list'>

</div>
