<!DOCTYPE html>
<html>
  <head>
    <script type="text/template" id='character-template'>
      <li> <strong>Name:</strong> <%= name %>; <strong>Planet:</strong> <%= planet %></li>
    </script>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
  </head>
  <body>
    <h1>Star Wars API</h1>
    <hr>

    {{{body}}}

  </body>
</html>
